<script>
	// Global parameters:
	// do not resize the chart canvas when its container does (keep at 600x400px)
	Chart.defaults.global.responsive = false;
	


	// define the chart data
	var chartData = {
		labels : [{% for item in labels %}
			"{{item}}",
			{% endfor %}],

		datasets : [{
			label: 'Printhead Temperature',
			fill: false,
			lineTension: 0.1,
			backgroundColor: "rgba(75,192,192,0.4)",
			borderColor: "rgba(75,192,192,1)",
			pointBorderColor: "rgba(75,192,192,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(75,192,192,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 2,
			pointHitRadius: 10,
			data : [{% for item in PrintheadCurrentTempData %}
				{{item}},
				{% endfor %}],
			
		},
		{
			label: 'Heatbed Temperature',
			fill: false,
			lineTension: 0.1,
			backgroundColor: "rgba(219,0,88,0.4)",
			borderColor: "rgba(219,0,88,1)",
			pointBorderColor: "rgba(219,0,88,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(219,0,88,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 2,
			pointHitRadius: 10,
			data : [{% for item in PrintbedCurrentTempData %}
				{{item}},
				{% endfor %}],
			
		},
		{
			label: 'Printhead Target Temperature',
			fill: false,
			lineTension: 0.1,
			backgroundColor: "rgba(198,235,235,0.4)",
			borderColor: "rgba(198,235,235,1)",
			pointBorderColor: "rgba(198,235,235,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(198,235,235,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 2,
			pointHitRadius: 10,
			data : [{% for item in PrintheadTargetTempData %}
				{{item}},
				{% endfor %}],
			
		},
		{
			label: 'Heatbed Target Temperature',
			fill: false,
			lineTension: 0.1,
			backgroundColor: "rgba(255,153,194,0.4)",
			borderColor: "rgba(255,153,194,1)",
			pointBorderColor: "rgba(255,153,194,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(198,235,235,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 2,
			pointHitRadius: 10,
			data : [{% for item in PrintbedTargetTempData %}
				{{item}},
				{% endfor %}],
			
		}]
	}
	

	// get chart canvas
	var ctx = document.getElementById("myChart").getContext("2d");
	
	// create the chart using the chart canvas
	var myChart = new Chart(ctx, {
		type: 'line',
		data: chartData,
        options: {
            animation: false,
          }
	});
</script>

<div id="center_chart" class="center_chart">
	<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</div>