<div id="center_panel" class="center_panel" style="font-family: Tahoma">
	
	<table>
		<tr>
			<th>Data</th>
			<th>Value</th>
		</tr>
		<tr>
			<td>Printhead temperature</td>
			<td>{{ var.nozzle_temp }} °C</td>
		</tr>
		<tr>
			<td>Printhead target temperature</td>
			<td>{{ var.target_nozzle_temp }} °C</td>
		</tr>
		<tr>
			<td>Heatbed temperature</td>
			<td>{{ var.bed_temp }} °C</td>
		</tr>
		<tr>
			<td>Heatbed target temperature</td>
			<td>{{ var.target_bed_temp }} °C</td>
		</tr>
		<tr>
			<td>Printhead [SI7021] Temperature</td>
			<td>{{ var.si7021_temp }} °C</td>
		</tr>
		<tr>
			<td>Printhead [SI7021] Humidty</td>
			<td>{{ var.si7021_hum }} %</td>
		</tr>
		<tr>
			<td>Printbed [SHT31] Temperature</td>
			<td>{{ var.SHT31_temp }} °C</td>
		</tr>
		<tr>
			<td>Printbed [SHT31] Humidty</td>
			<td>{{ var.SHT31_hum }} %</td>
		</tr>
		<tr>
			<td>PSU [BMP280] Temperature</td>
			<td>{{ var.BMP280_temp }} °C</td>
		</tr>
		<tr>
			<td>PSU [BMP280] Pressure</td>
			<td>{{ var.BMP280_press }} hPa</td>
		</tr>
	</table>

	<br>
	<a href=\><button class="button">Measurement</button></a>

	<br><br>
	<a href=\TOGGLE_MONITOR><button class="button">Toggle monitor status: {{ var.MonitorRunningFlag }}</button></a>

	<br><br>
	<a href=\EMERGENCY_STOP><button class="button">Emergency STOP</button></a>

	<br><br>
	<a href=\BEEP><button class="button">Single Beep</button></a>

	<br><br>
	<a href=\POWER_ON><button class="button">Power ON</button></a>

	<br><br>
	<a href=\POWER_OFF><button class="button">Power OFF</button></a>
		
</div>